.App {
  text-align: center;
  padding-top: 22px;
}

.tab {
  padding: 8px 13px;
}

::-webkit-scrollbar {
  display: none;
}

.mode-selector {
  position: fixed;
  height: 22px;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 2;
}

.mode {
  padding: 0 13px;
  display: inline-flex;
  height: 22px;
  align-items: center;
}

.mode-selected {
  background-color: orange;
}
